header {
    background-image: linear-gradient(rgb(14, 240, 240), rgb(6, 242, 171));
}

.logo {
    border-radius: 40%;
}

/* round img corners */
.roundedCorners {
    border-radius: 25px;
}
/* round list of ingredients  */
.message-header {
    border-radius: 4px !important;
}
.active {
    font-weight: bolder;
    color: aliceblue;
}

.active:hover {
    color: aliceblue;
}

