body, html {
    background-image: linear-gradient(rgb(6, 242, 171), rgb(14, 240, 240));
    width: 100%;
    touch-action: manipulation;
}

header {
    background-image: linear-gradient(rgb(14, 240, 240), rgb(6, 242, 171));
    margin-bottom: 8.0rem;
    max-height: 150px;
}

nav {
    background-image: linear-gradient(rgb(14, 240, 240), rgb(6, 242, 171));
    /* padding: 2rem; */
    max-height: 100px;
}

.active {
    /* color: yellow !important; */
    font-weight:800 !important;
}

.footer {
    background-color: white;
    margin-top: 8rem;
    padding: 3rem 1.5rem 2rem !important;
}

.logo {
    border-radius: 40%;
}
.navbar-burger {
    align-self: center;
    transform: scale(2.0) !important;
    margin-right: 20px !important; 
}

.navbar-item {
    font-size: 1.7rem;
    padding-right: 10.0rem !important;
}

/* round img corners */
.roundedCorners {
    border-radius: 30px !important;
}
/* round list of ingredients  */
.message-header {
    border-radius: 4px !important;
}

/* .link:hover {
    color: aliceblue;
} */

.fitImg {
    align-self: center;
    border-radius: 25px;
    padding: 15px;
   }
.fitText {
     align-content: center;
   }

#logo {
    width: 300px !important;
    height: 100px !important;
} 

.column img:hover {
    cursor: pointer;
}

@media  screen and (max-width:1024px) {
    .left-tile {
        margin-right: 25px !important;
        margin-left: 25px !important;
    }
    
    .right-tile {
        margin-left: 25px !important;
        margin-right: 25px !important;
    }

    .backBtn {
        margin-left: .1rem !important;
    }

    .tile {
        justify-content: center !important;
    }

    #search-input, .button {
        height: 3.5rem !important;
    }


}



